.HC_{
    text-align: center;
}

.HC_component{
    margin: 10px;
}

.header_{
    text-align: center;
}

.home{
    border: 1px solid #dfe1e5;
    padding: 20px;
    text-align: center;
    
}

.home_content{
    margin: 10px;
    font-size: larger;
}

.box{
    width: 200px;
    height: 200px;
    
}

.box_red{
    border: 50px solid red;
    margin-bottom: 20px;
}

.box_green{
    border: 50px solid green;
    margin-bottom: 20px;
}

.box_blue{
    border: 50px solid blue;
    
}

.align1{
    
    margin-top: 400px;
}

h1{
    color: #9b59b6;
    text-align: center;
}

p{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    
}
p::first-letter{
    font-size:200%;
}
h1::before{
    content:"Topic"
}

.sub-header{
    color :#2980b9;
}

.challenge2{
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    padding: 10%;
}

body {
    display: contents;
  }
  
  .navbar {
    float: right;
    margin: 20px;
  }
  
  .first-nav-item {
  
    text-decoration: none;
    color: black;
    margin-right: 15px;
  }
  
  .second-nav-item {
    text-decoration: none;
    color: black;
    margin-right: 15px;
  }
  
  .nav-item:hover {
    text-decoration: underline;
  }
  
  .main {
    margin-top: 300px;
    text-align: center;
  }
  
  .input-area {
    margin-top: 20px;
  }
  
  .input-box {
    width: 584px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .search-icon {
    position: relative;
    left: 40px;
    color: #9aa0a6;
  }
  
  .mic-icon {
    position: relative;
    right: 40px;
    color: #9aa0a6;
  }
  
  .button-area {
    padding-top: 18px;
  }
  
  .button-style {
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial, sans-serif;
    padding: 0 16px;
    margin: 10px 25px;
  }
  
  .button-style:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  
  .footer {
    position: absolute;
    bottom: 0px;
    background: #f2f2f2;
    width: 100%;
  }
  
  .first-line {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
  }
  
  .second-line {
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
  }
  
  .second-line-sencond {
    float: right;
  }
  
  .second-line-item {
    text-decoration: none;
    margin-right: 15px;
    color: black;
  }
  
  .second-line-item:hover {
    text-decoration: underline;
  }
  
  .language {
    text-decoration: none;
    margin-right: 15px;
    color: #9aa0a6;
  
  }
  
  .language:hover {
    text-decoration: underline;
  }

#wrap{
    min-height: 100%;
    position: relative;
}

.insta_main{
    display: flex;
    justify-content: center;
}

.insta_box{
    border: 1px solid #dfe1e5;
    width: 350px;
    height: 402px;
    align-items: center;
    text-align: center;
    margin: 0, 0, 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.input_box{
    margin:15px;
    border-radius: 1px;
    
}

.id_input{
    width: 258px;
    height: 38px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 8px;
    border: #dfe1e5;
    border: 1px solid gray;
}
.pw_input{
    width: 258px;
    height: 38px; 
    padding-left: 10px;
    border-radius: 8px;
    border: #dfe1e5;
    border: 1px solid gray;
}

.insta_login_btn {
    border-radius: 14px;
    margin-top: 8px;
    width: 278px;
    height: 38px;
    color: white;
    font-family: inherit;
    font-size: 100%;
    background-color:rgb(146, 215, 236);
    border: #dfe1e5;
}

.insta_login_btn:hover{
    background-color: #2980b9;
    text-align: center;
    overflow: visible;
}

hr{
    border: none;
    border-top: 1px solid #9aa0a6;
    text-align: center;
    overflow: visible;
    margin-top: 30px;
    color: #dfe1e5;
    width: 70%;
}

hr:after{
    content: "또는";
    position: relative;
    top: -15px;
    background-color: white;
    padding: 0 20px;
    color: #9aa0a6;
    font-family: inherit;
}

.link_component{
    text-decoration: none;
    color:rgba(0, 0, 0, .54);
    
}

.link_component:hover{
    color: #202124;
}

.facebook_login{
    text-decoration: none;
    color: #385185;
    font-weight: bold;
}

.lost_pw{
    margin-top: 10px;
    font-size: small;
}

.facebook_lost_pw{
    text-decoration: none;
    color: #385185;
    
}

.insta_join_box{
    margin: 20px 0 10px;
    border: 1px solid #dfe1e5 ;
    align-items: center;
    border-radius: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    padding: 20px;
    position: relative;
    font-family: inherit;
    
}

.join_link{
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
}

.join_link:hover{
    color: #2980b9;
}

.app_box {
    align-items: center;
    text-align: center;
    padding: 10px;
}

.download_img{
    height: 40px;
    margin: 10px;

}

.insta_footer{
    position: relative;
    bottom:0px;
    font-size: small;
    font-family: inherit;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.footer_content_box{
    margin: 10px;
    padding: 10px;
}

.footer_content{
    margin: 5px 5px 5px;
    text-decoration: none;
    color: #737373;
}

select{
    border: none;
    color: #737373;
}

.positioning{
    border: 1px solid red;
    width: 700px;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    
}

.po_box{
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;

}

.po_box_seperate{
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    width: 650px;
    height: 500px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.black{
    background-color: black;
}



.locate_relative{
    position: relative;
    left: 400px;
}

.locate_absolute{
    position: absolute;
    left: 400px;
    top:200px
}

.locate_fixed{
    position: fixed;
    left:500px;
    top:100px;
}

.locate_sticky{
    position: sticky;
    left: 100px;
    top: 100px;
} 

.locate_display_flex_center{
    display: flex;
    justify-content: center;
}

.locate_display_flex_space-between{
    display: flex;
    justify-content: space-between;
}

.locate_display_flex_align_items{
    display: flex;
    align-items: center;
    height: 50vh;
}

.locate_display_flex_direction_column_space-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
